<h1>Admin#dashboard</h1>
<p>Find me in app/views/admin/dashboard.html.erb</p>
<table>
  <tr>
    <th>Email</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.access_locked? ? 'Banned' : 'Active' %></td>
      <td>
        <% if user.access_locked? %>
          <%= button_to 'Unban', admin_unban_user_path(user), method: :post %>
        <% else %>
          <%= button_to 'Ban', admin_ban_user_path(user), method: :post %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
